/* body-style */
body {
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}

/* navigation-bar style  */
.nav-bg {
    background-color: #562EFF;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;

}

.navigation-bar {
    background-color: #562EFF;
    width: 870px;
    height: 94px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo {
    display: flex;
    padding-left: 270;
}

.logo a {
    font-size: 24px;
}

.logo img {
    width: 41px;
    height: 51px;
    margin-right: 10px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}

.menu-bar ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0;
    font-weight: normal;
}

/* Top Player Style  */
main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.header-title h3 {
    font-size: 24px;
    color: #562EFF;
    margin-top: 30px;
    margin-left: 30px;

}

.player-and-blogs {
    background-color: #FFFFFF;
    width: 870px;
    height: 680px;
    border-radius: 5px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    padding-left: 30px;
    padding-top: 20px;


}

.player {
    display: flex;
}

.player img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

.player a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px;
}

/* Blogs Style  */
.top-blog h3 {
    font-size: 24px;
    color: #562EFF;
    margin-top: 30px;
    margin-left: 30px;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;

}

.blog {
    display: flex;
    gap: 10px;
    align-items: center;

}

.blog img {
    width: 177px;
    height: 117px;
    margin-left: 30px;
}

.blog h4 {
    font-size: 20px;
    margin: 0px;
}

.blog p {
    color: #9F9F9F;
    font-size: 16px;
}

.blog .author a {
    color: #562EFF;
    text-decoration: none;
}

/* Courses style  */
.latest-course {
    background-color: #FFFFFF;
    width: 870px;
    height: 362px;
    border-radius: 5px;
}

.latest-course h3 {
    font-size: 24px;
    color: #562EFF;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 30px;
    margin-bottom: 10px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 0 30px;
    text-align: center;

}

.course {
    box-shadow: 2px 2px 2px lightgray;
    padding: 10px 12px;
    border-radius: 10px;



}

.course img {
    width: 224px;
    height: 104px;


}

.course h4 {
    font-size: 18px;
    margin: 0px;
    text-align: left;
}

.course p {
    color: #ED6B4F;
    font-size: 15px;
    margin: 10px 0;
    text-align: left;
}

.course-info .full {
    color: #FFC014;
    font-size: 12px;
}

.course-info .blank {
    color: #AEAEAE;
    font-size: 12px;
}

.course-info.ratings {
    color: #A2A2A2;
    font-size: 14px;
}

.course-duration .fa-clock,
.hrs {
    color: #ED6B4F;
    font-size: 17px;
}

.course-duration {
    border-radius: 15px;
    background-color: #FEE5DF;
    padding: 0 5px;

}

.course-info {
    display: flex;
    justify-content: space-between;

}

/* Responsive Style  */
/* Mobile Devices  */

@media only screen and (max-width:688px) {
    .player-and-blogs {

        width: 100%;
        height: 100%;
    }

    .players,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .player {
        flex-direction: column;
        align-items: center;
    }

    .blog-text {
        padding-left: 5px;
    }

    .blog h4 {
        font-size: 16px;

    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    }

    .latest-course {
        width: 100%;
        height: 100%;
    }

    .menu-bar ul {
        gap: 10px;
    }

    .navigation-bar {
        margin-right: 10px;
    }

    .menu-bar ul {
        display: none;

    }
}


/* Tab Devices */
@media only screen and (min-width:689px) and (max-width:991px) {
    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .player-and-blogs {

        width: 100%;
        height: 100%;
    }

    .latest-course {
        width: 100%;
        height: 100%;
        margin: 0;

    }

}